html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    /* The image used */
    background-image: url(/images/cow-bg.png)!important;
  
    /* Full height */
    height: 100%!important; 
  
    /* Center and scale the image nicely */
    background-position: center!important;
    background-repeat: no-repeat!important;
    background-size: cover!important;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
